# The nine lines below ensure that binary files are ignored.

# Ignore all extensions.
*

# Unignore all with extensions.
!*.*

# Unignore all directories.
!*/

# Ignore all swp files from using Vim.
**/*.swp

